 {
	"business.item.teaser":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "b3ddf281-c2c2-4f09-a7d8-9ba657e93000"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "886c791c-146c-4596-8d12-59f8a1df25dc"
			}
		}
	},
	"business.item.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "b3ddf281-c2c2-4f09-a7d8-9ba657e93000"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f664e249-50d8-40bd-b024-711aa57cb4e0"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "947f3586-fde5-40de-b6b5-2f8b2fe7361a"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "886c791c-146c-4596-8d12-59f8a1df25dc"
			}
		}
	}
}