.page {
  float: left;
}
.item{
  float: left;

}


//Блок заголовка журнала
//
.item>.pos-title {

  background: white;
  float: left;
  padding: 15px;



  img{
    float: right;
    width: 60%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 16px;
  }

  p:nth-of-type(2) {
    font-weight: 100;

  }
}


//Левая колонка
.item>.pos-subtitle {
  width: 40%;
  float: left;
}


//Рубрики
.zoo-tagcloud {
  list-style: none;
  padding: 0px;
  width: 85%;


  li{

    padding: 5px 15px;
  }

  li:nth-of-type(odd){
    background: #DFDFDF;
  }


  a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 300;
  }
}


//Топ пять
.zoo-item-list {
  list-style: none;
  display: block;
  padding: 0px;
  float:left;
}

p.title {
  float: left;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd6d6;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 85%;
  background: white;



  img {
    width: 100%;
    float: left;
  }
  a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 200;
    text-align: left;
    display: block;
  }

}








//блок контента
.item>.floatbox {
  width: 60%;
  float: left;

}







.floatbox>.pos-content .pos-title{
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 214, 214);
  font-size:14px;
  text-align: left;
  background: white;

  img {
    width: 100%;
  }

  a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 200;
    text-align: left;
    display: block;
  }

}