 {
	"blog.article.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "bf587f28-0a72-4be7-88a1-91a14e77039e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c4e7ae4e-ff94-4e71-8d5d-b1fec7599585"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "a5fdc953-00bc-454a-b7eb-1932d78c58e9"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u041b\u0435\u043d\u0442\u0430 \u043f\u0443\u0431\u043b\u0438\u043a\u0430\u0446\u0438\u0439",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "_reversed"
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "28f03c2c-57b1-4901-9554-fd9e8f52b08e"
			}
		}
	},
	"blog.article-2.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "89335a61-ea45-4fad-b16f-488154d4f8e2"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": ""
				},
				"layout": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "6a6697aa-3af4-4701-839f-c53093196605"
			}
		}
	},
	"blog.article-2.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemtag"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.article.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "bf587f28-0a72-4be7-88a1-91a14e77039e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.author.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "29670d8f-668e-484c-877f-79279f31f4b4"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemmodified"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.author.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "29670d8f-668e-484c-877f-79279f31f4b4"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "b3cf5464-43d7-415a-a378-9acd60da43ba"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemmodified"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0421\u0442\u0430\u0442\u044c\u0438 \u0430\u0432\u0442\u043e\u0440\u0430",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": ""
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "bac82bed-0c84-4fc6-b6e8-481534ae4d46"
			}
		}
	},
	"blog.item.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "042f3794-5c8a-483d-80a8-9efe2b9f81c9"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f0541003-23b2-44b7-abe8-b69c07224135"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			}
		}
	},
	"blog.item.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "042f3794-5c8a-483d-80a8-9efe2b9f81c9"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	}
}