 {
	"blog.article.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "",
					"1": "",
					"2": "",
					"3": "_reversed",
					"4": "_random",
					"5": "_alphanumeric"
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "28f03c2c-57b1-4901-9554-fd9e8f52b08e"
			}
		}
	},
	"blog.article-2.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "b9bab2fd-a9cc-47ac-8473-71d232f2bfb6"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "89335a61-ea45-4fad-b16f-488154d4f8e2"
			}
		}
	},
	"blog.article-2.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			}
		}
	},
	"blog.article.teaser":  {
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": ""
				},
				"layout": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "28f03c2c-57b1-4901-9554-fd9e8f52b08e"
			}
		}
	}
}