 {
	"blog.article.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "bf587f28-0a72-4be7-88a1-91a14e77039e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c4e7ae4e-ff94-4e71-8d5d-b1fec7599585"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "a5fdc953-00bc-454a-b7eb-1932d78c58e9"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u041b\u0435\u043d\u0442\u0430 \u043f\u0443\u0431\u043b\u0438\u043a\u0430\u0446\u0438\u0439",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "_reversed"
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "28f03c2c-57b1-4901-9554-fd9e8f52b08e"
			}
		}
	},
	"blog.article-2.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "89335a61-ea45-4fad-b16f-488154d4f8e2"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "\u0410\u0432\u0442\u043e\u0440\u044b:",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "separator=[, ]",
				"element": "6a6697aa-3af4-4701-839f-c53093196605"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "\u0422\u0435\u0433\u0438:",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.article-2.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f72ab7a7-beeb-4ed0-a494-ab305e6edf72"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.article.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "bf587f28-0a72-4be7-88a1-91a14e77039e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "a072adaf-4193-4a9f-a391-df835a68a241"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.author.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "29670d8f-668e-484c-877f-79279f31f4b4"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b5677fd5-fc05-4c8b-8b98-6ec8344df5af"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemmodified"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.author.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "29670d8f-668e-484c-877f-79279f31f4b4"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "b3cf5464-43d7-415a-a378-9acd60da43ba"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0421\u0442\u0430\u0442\u044c\u0438 \u0430\u0432\u0442\u043e\u0440\u0430",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": ""
				},
				"layout": "teaser",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "bac82bed-0c84-4fc6-b6e8-481534ae4d46"
			}
		}
	},
	"blog.item.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "042f3794-5c8a-483d-80a8-9efe2b9f81c9"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f0541003-23b2-44b7-abe8-b69c07224135"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "141f9e77-d131-4ed4-99cd-47f2e0bfe003"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "\u0422\u0435\u0433\u0438:",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.item.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "042f3794-5c8a-483d-80a8-9efe2b9f81c9"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "56c6f34a-a724-4e38-88ac-aebf64c85a18"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.article-2.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "89335a61-ea45-4fad-b16f-488154d4f8e2"
			}
		}
	},
	"blog.article.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "bf587f28-0a72-4be7-88a1-91a14e77039e"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c4e7ae4e-ff94-4e71-8d5d-b1fec7599585"
			}
		}
	},
	"blog.author.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "29670d8f-668e-484c-877f-79279f31f4b4"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "b3cf5464-43d7-415a-a378-9acd60da43ba"
			}
		}
	},
	"blog.item.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "042f3794-5c8a-483d-80a8-9efe2b9f81c9"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f0541003-23b2-44b7-abe8-b69c07224135"
			}
		}
	},
	"blog.item-copy.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5174f2ed-7d7b-41b5-9318-40a9842a2c41"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "08e15406-b63b-4355-ab08-f4fa9e99e3e6"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "cf815234-0599-4450-a8c4-6c337c47b62a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.item-copy.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "54a8817a-86a3-47e7-af2a-d9a06aa73415"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemcategory"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d1693c60-882f-4d22-9061-68ab4a5a33d6"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	}
}