.newsletter {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8px;
  padding: 5% 0px 5% 10%;
  border-radius: 90px;
  display: block;
  margin-left: 5%;
  width: 55%;
  background: rgb(122, 179, 60);
  cursor: pointer;
}