.newsletter
{
	display: inline-block;
	width: auto;
	padding: 8px 20px;
	border-radius: 20px;
	margin: 10px 30px;
	background: rgb(122, 179, 60);
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	box-shadow: 0 3px 4px rgba(0,0,0,0.5);
}