@import 'left_nav/left_nav';
@import 'newsletters/newsletters';



$left-width: 15%;
$background:rgba(12, 12, 12, 0.92);


.left_colomn{
  width: $left-width;
  float:left;
  position: fixed;
  top:0px;
  bottom: 0px;
  background: $background;
}