@import 'left_nav/left_nav';
@import 'newsletters/newsletters';



.left_colomn
{
	width: $Nav-Width - 60px;
	@include Adaptive($Viewport-SM)
	{
		width: $Nav-Width;
	}
	float: left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	background-color: $Nav-Background-Color;
	.nav.menu_left
	{
		margin: 50px 0 0;
		padding: 0;
		list-style: none;
		li
		{
			a
			{
				display: block;
				padding: 10px 50px;
				@include Transitions(#{background-color .3s});
				&:hover
				{
					background-color: $Nav-Background-Color-Hover;
				}
			}
		}

	}
}

.Menu-Icon
{
	float: right;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: url(./../che/images/menu_w.png) center center no-repeat;
	&:hover
	{
		background-color: #2e313a;
	}
}