// Configurable Breadcrumbs
// NOT CONFIGURABLE IN THIS VERSION, LOL :D
.Breadcrumbs {
    padding: $size-xs;
    padding-left: 15px;
    margin-top: $size;
    background-color: #e9ebec;
    //@include Round(all, $Control-Border-Radius);

    .Breadcrumb-List {
        @extend %Inline;
        @extend %Unstyle;
        @extend %Fix;

        .Breadcrumb-Item {
            & > span ,
            & > a    {
                padding: $size-xs;
                font-size: 13px;
                line-height: 13px;
            }
            a {
                color: $Clr-Asbestos;
            }
            a:hover {
                color: $Clr-Midnight-Blue;
            }
            &:before {
                font-family: FontAwesome;
                vertical-align: middle;
                padding: 0 $size-s;
                content: "\f105";
                @extend %Unselectable;
                font-size: 12px;
                border-radius: 0px;
            }
        }

        .Breadcrumb-Item:first-child {
            &:before {
                padding: 0;
                content: "";
            }
        }
    }
}