%Unselectable
{
	user-select:		none;
	-ms-user-select:	none;
	-moz-user-select:	none;
	-webkit-user-select:none;
}

%Clickable
{
	cursor: 			pointer!important;
}
%Centrate
{
	margin-left: 		auto;
	margin-right: 		auto;
}
%Left
{
	float: 				left;
}

%Right
{
	float: 				right;
}

%Fluid
{
	width: 				100%;
}

%Fix
{
	&:before,
	&:after
	{
		content: 		" ";
		display: 		table;
	}
	&:after
	{
		clear: 			both;
	}
}
%Unstyle
{
	margin: 0;
	padding: 0;
	list-style: none;
}
%Inline
{
	@extend 			%Fix;
	& > *
	{
		float: 			left;
	}
}
%Content-Block
{
	padding:			20px;
	border:				1px solid #efeff3;
	background-color: 	white;
	@extend 			%Fix;
}

%Content-Block-Hover
{
	&:hover
	{
		background-color: 	#fcfcfc;
	}
}

%Uppercase
{
	text-transform: 	uppercase;
}

%Control
{
	padding:			5px 10px;
	border-radius: 		6px;
	border:				1px solid #e1e1e5;
	line-height:		13px;
	font-size:			13px;
	background-color: #f5f5f9;
	outline: 			0;
	&:focus
	{
		border-color:	#c82222;
	}
}
%Control-Button
{
	padding: 			5px 10px;
	border-radius:		6px;
	border:				1px solid;
	line-height:		13px;
	font-size:			13px;
	font-family: 		'PT Serif', serif;
	background-color: 	#c82222;
	color:				white;
	@extend 			%Uppercase;
	&:hover
	{
		background-color: #e12626;
	}
}
%Button-Shadow
{
	box-shadow:			0 2px 3px rgba(0, 0, 0, 0.3);
}
%Push-Left
{
	margin-left:		$Sidebar-Width;
}
%Navigation-Inline
{
	@extend 			%Inline;
	@extend 			%Unstyle;
	li
	{
		a
		{
			display: 	block;
			padding: 	0 15px;
			color:		black;
			@include 	Adaptive(1400px)
			{
				padding: 0 30px;
			}
			@include 	Adaptive($Viewport-LR)
			{
				padding: 0 50px;
			}
			@extend 	%Animated;
			@extend 	%Uppercase;
		}
	}
	&:first-child a
	{
		padding-left:	0;
	}
}

%System-Link
{
	display: 			inline-block;
	color:				black;
	@extend 			%Uppercase;
}

%Sub-Info
{
	font-size:			12px;
	color:				#7b7d7f;
}

%Heading-Section
{
	font-family: 		'PT Serif Caption', 'PT Serif', serif;
	font-size:			32px;
	font-weight: 		100;
	line-height: 		32px;
	color:				black;
	@extend 			%Unselectable;
}
%Heading-Section-Spacing
{
	margin-top:			40px;
	margin-bottom:		20px;
}
%Content-Spacing
{
	padding-left:		$Content-Spacing - 50px;
	@include 			Adaptive($Viewport-SM)
	{
		padding-left:		$Content-Spacing;
	}
}


%Animated
{
	@include 			Transitions(#{color .4s, background-color .4s, border-color .4s});
}

