%fixed
{
    position:   fixed;
    z-index:    888888888;
    top:        0px;
    bottom:     0px;
    left:       0px;
    right:      0px;
}


.UPF-Window
{
    @extend %fixed;
    display: none;

        .UPF-Window-Wrapper
        {
            @extend %fixed;
            background: rgba(0,0,0,0.3);


        }

        .UPF-Window-Content
        {
            width:      400px;
            padding:    20px;
            margin:     0 auto;
            z-index:    8888888888;
            position:   relative;

			@extend 	%Content-Block;
			box-shadow: 0 0 30px black;
        }

        .UPF-Window-Close
        {
            position:   absolute;
            top:        -15px;
            right:      -15px;
			padding-top: 6px;
            font-size:  14px;
			width: 30px;
			height: 30px;


            background:      $C-Red-2;
            border:          1px solid $C-Red-1;
            border-radius:   6px;
            color:           $C-Grey-6;
			@extend 		%Animated;
			&:hover
			{
				background:      $C-Grey-3;
				border: 		1px solid $C-Grey-1;
			}
        }
}