 {
	"name": "Article",
	"elements":  {
		"28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d":  {
			"name": "\u0424\u043e\u0442\u043e",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"89335a61-ea45-4fad-b16f-488154d4f8e2":  {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"93201135-367c-40dc-b5a3-f11afe146908":  {
			"name": "\u0420\u0443\u0431\u0440\u0438\u043a\u0438 \u0436\u0443\u0440\u043d\u0430\u043b\u0430",
			"description": "",
			"access": "1",
			"default": "106",
			"type": "joomlamodule"
		},
		"366ae034-034e-4f00-8ff6-cffabbca4e23":  {
			"name": "PDF",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "1",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz,pdf",
			"upload_directory": "images\/zoo\/pdf\/",
			"max_upload_size": "100000",
			"type": "download"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}