 {
	"cookbook.recipe.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "50",
				"link_to_item": "1",
				"element": "ff94e00f-5055-439f-8c3e-fe5bef815ad1"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "3194f2e2-b29e-4a6b-8555-17c58b42ed6c"
			}
		}
	},
	"documentation.page.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Written by",
				"separated_by": "separator=[, ]",
				"element": "6bc47900-08c1-45ab-a4a2-ed74a58e1d5e"
			}
		}
	},
	"download.file.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "c2f19082-507f-4778-9ddb-aa2d6889d6be"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4"
			}
		}
	},
	"movie.movie.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "70",
				"link_to_item": "1",
				"element": "540aa2ad-9a8d-454d-b915-605b884e76d5"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "176cb7b9-307b-44ad-b2d9-964cfcb9abcb"
			}
		}
	},
	"movie.person.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "30",
				"height": "30",
				"link_to_item": "1",
				"element": "93d283c0-eee0-473e-bf68-e5ebc3c3338e"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0798146b-ac26-4637-9d78-afd3042eed24"
			}
		}
	},
	"product.product.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "50",
				"link_to_item": "1",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			}
		}
	},
	"page.page.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"cookbook.recipe.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "50",
				"link_to_item": "1",
				"element": "ff94e00f-5055-439f-8c3e-fe5bef815ad1"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "3194f2e2-b29e-4a6b-8555-17c58b42ed6c"
			}
		}
	},
	"documentation.page.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Written by",
				"separated_by": "separator=[, ]",
				"element": "6bc47900-08c1-45ab-a4a2-ed74a58e1d5e"
			}
		}
	},
	"download.file.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "c2f19082-507f-4778-9ddb-aa2d6889d6be"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4"
			}
		}
	},
	"movie.movie.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "70",
				"link_to_item": "1",
				"element": "540aa2ad-9a8d-454d-b915-605b884e76d5"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "176cb7b9-307b-44ad-b2d9-964cfcb9abcb"
			}
		}
	},
	"movie.person.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "30",
				"height": "30",
				"link_to_item": "1",
				"element": "93d283c0-eee0-473e-bf68-e5ebc3c3338e"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0798146b-ac26-4637-9d78-afd3042eed24"
			}
		}
	},
	"product.product.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "50",
				"link_to_item": "1",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			}
		}
	},
	"page.page.uikit":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"blog.article-2.default":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "tag=[<article class=\"item\">%s<\/article>]",
				"element": "_itemtag"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	}
}