//Подключение стилей из блока Main
@import '../../-variables';
@import '../../-mixins';
@import '../../-modificators';
@import '../../-grid';
@import 'header/header';
@import 'page/page';
@import 'nav/nav';
@import 'footer/footer';


body {
	min-width: 1020px;
	border-top: 5px solid #1a90ff;
}

.main
{
	padding-left: ($Nav-Width - 60px) + ($Nav-Spacing / 2);
	@include Adaptive($Viewport-SM)
	{
		padding-left: $Nav-Width + $Nav-Spacing;
	}

	max-width: 1200px;
}

/* Настройки блоков для адаптивной вер стки */
$block-1: 100% /10;
$block-2: $block-1*2;
$block-6: $block-1*6;

.block
{
	//прототип для наследования остальными блокамми
	display: block;
	float: left;
}

.block_2
{
	//блок занимающий 20% от ширины родительского блока
	@extend .block;
	width: $block-2;
}

.block_6
{
	//блок занимающий 60% от ширины родительского блока
	@extend .block;
	width: $block-6;
}
%Content
{
	padding: 20px!important;
	border: 1px solid $C-Grey-5;
	background-color: white;
	@extend ._Clearfix;
}
%Heading
{
	font-family: 'PT Serif Caption', serif!important;
	font-weight: 100;
	font-size: 32px!important;
	line-height: 32px!important;
	color: #24282d;
	text-decoration: none;
	margin: $size-l 0 $size!important;
}
%BorderBox
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.pos-top
{
	@extend %Content;
	.element-image
	{
		float: right;
		margin-left: 20px;
	}
	.element-itemname
	{
		a
		{
			@extend %Heading;
		}
	}
	.element-textarea
	{
		font-weight: 800;
		&.last
		{
			font-weight: 100;
		}
	}
}

.pos-content
{
	.pos-title
	{
		min-height: 300px;
		img
		{
			height: auto;
		}
	}
}
.item > .floatbox
{
	width: 66.66%;
	float: right;
}
.pos-bottom
{
	float: left;
	width: 33.33%;
}
.pos-item
{
	@extend %Content;
}