@import 'page/page';


*
{
	margin: 			0;
	padding: 			0;
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;
	cursor: 			default;
}
body
{
	min-width: 			1020px;
	border-top: 		5px solid #1a90ff;
	background: 		#F5F5F5;
	font-family: 		'PT Serif', serif;
}

a
{
	text-decoration: 	none;
	color: 				black;
	@extend 			%Clickable;

}
input,
select,
textarea,
button
{
	@extend 			%Control;
	@extend 			%Clickable;
}
.main
{
	padding-left: 235px;
}
.pos-top
{
	@extend %Content-Block;
	.element-image
	{
		float: right;
		margin-left: 20px;
	}
	.element-itemname
	{
		a
		{
			@extend %Heading-Section;
		}
	}

}

.pos-content
{
	.pos-title
	{
		img
		{
            width: 100%;
			height: auto;
		}
	}
}
.item > .floatbox
{
	width: 66.66%;
	float: right;
}
.pos-bottom
{
	float: left;
	width: 33.33%;
}
.pos-item
{
	@extend %Content-Block;
}






/*** OlegBlud Styles***/

.Subscription{
  display:none;

}

.pos-content .pos-title{
  min-height: 0px !important;
}


.items .width100{

}

.teaser-item{
  @extend .Node-XS-6;
  @extend .Node-MD-4;

    .pos-title  img{
        width:100%;
        height: auto;
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Sidebar
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Page-Sidebar
{
	position: 					fixed;
	background-color: 			#4a4f5a;
	width:						$Sidebar-Width;
	left: 						0;
	top:						0;
	bottom: 					0;

	nav.Site-Navigation
	{
		.nav.menu_left
		{
			margin-top:			50px;
			@extend 			%Unstyle;
			li
			{
				a
				{
					display: 	block;
					padding: 	8px 50px;
					color:		#dce0e5;
					font-size:	14px;
					@extend 	%Fluid;
					@extend 	%Uppercase;
					@extend 	%Animated;
					&:hover
					{
						background-color: darken(#4a4f5a, 10%);
						color: white;
					}
				}
			}
		}
	}

	.Feed-Subscription
	{
		display: 				block;
		margin-top:				10px;
		margin-left: 			35px;
		padding: 				8px 15px;
		border-radius: 			20px;
		border:					0;
		font-family: 			'PT Serif', serif;
		font-size:				10px;
		color:					white;
		@include 				Gradient(#85aa2f, #73932a, to bottom);
		@extend 				%Uppercase;
		@extend 				%Button-Shadow;
		&:hover
		{
			background: 	#73932a;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
section.Header
{
	.logo
	{
		& > .custom
		{
			width: 400px;
			img
			{
				float: left;
			}

			span
			{
				font-size: 30px;
				margin-top: 30px;
				display: block;
				padding-top: 30px;
			}
		}
		display: inline-block;
		width: auto;
		
		header
		{
			margin-top: 20px;
			position: relative;
			background: url(./lib/img/logo.png) left top no-repeat;
			min-height: 107px;
			h2
			{
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 0;
				left: 70px;
				font-family: 'PT Serif Caption', serif;
				font-weight: 100;
				font-size: 28px;
				text-align: right;
				p
				{
					margin: 0;
					padding: 0;
					font-size: 31px;
				}
			}
			span
			{
				display: block;
			}

		}
	}
	.toolbar
	{
		display: inline-block;
		float: right;
		width: auto;
		padding: 60px 0;
		
		@extend %Fix;
		.authorization
		{
			float: right;
			@extend %Unstyle;
			
			ul
			{
				@extend %Unstyle;
				li
				{
					@extend %Unstyle;
					a
					{
						display: inline-block;
						margin-right: 10px;
						padding: 10px 20px;
						text-transform: uppercase;
						text-decoration: none;
						color: black;
						font-size: 12px;
						font-weight: bold;
						&:hover
						{
							color: $C-Red-2;
						}
					}
					a.Button-Like
					{
						color: white;
						border-radius: 30px;
						box-shadow: 0 1px 2px rgba(0,0,0,.2);
						@include Gradient($C-Red-3,$C-Red-2, to bottom);
						&:hover
						{
							@include Gradient($C-Red-2,$C-Red-1, to bottom);
						}
					}
				}
			}
			.userdata
			{
				@extend %Content-Block;
				display: none;
				.control-group + .control-group
				{
					margin-top: 10px;
				}
				.input-small
				{
					border: 1px solid #aaa;
					border-radius: 6px;
					padding: 5px;
					outline: none;
					&:focus
					{
						border-color: $C-Cyan-1;
					}
				}
				.add-on
				{
					display: inline-block;
					padding: 5px 0;
				}
			}
		}
		.languages
		{
			margin-top: 1px;
			float: left;
			
			.custom
			{
				padding: 10px;
			}
		}
	}

}

/*Настройки переводчика гугл*/
.goog-te-gadget-simple
{
	background-color: transparent !important;
	border: none !important;
	font-size: 10px !important;
	display: inline-block !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	cursor: pointer !important;
	zoom: 1;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;

	img
	{
		background-image: none !important;
		position: absolute;
	}

	span
	{
		border-left-width: 0px !important;
	}
}
.goog-te-menu-value
{
	margin: 0px !important;
	margin-right: 10px;
	span
	{
		font-size: 12px;
		text-transform: uppercase;
		padding-right: 5px;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PAGINATION
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ul.Pagination
{
	@extend %Unstyle;
	@extend %Inline;
	li
	{
		& + li
		{
			margin-left: 5px;
		}

		span,
		a
		{
			display: block;
			padding: 3px 8px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		a
		{
			border-color: #efeff3;
			background-color: white;
			@extend %Animated;
			&:hover
			{
				background-color: $C-Red-2;
				border-color: $C-Red-1;
				color: white;
			}
		}
		span
		{
			background-color: black;
			color: white;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Page Footer
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
footer[role='contentinfo']
{
	nav.Site-Navigation.Secondary
	{
		margin-bottom:		40px;
		padding-top: 		40px;
		padding-bottom:		40px;
		border-top:			5px solid #77972b;
		border-bottom:		1px solid #e9ebec;
		@extend 			%Fix;
		@extend 			%Content-Spacing;
		ul
		{
			width: 			auto;
			float: 			left;
			@extend 		%Navigation-Inline;
			li
			{
				a
				{
					display: 		block;
					padding: 		0 15px;
					@extend 		%Animated;
					&:hover
					{
						color: 		#77972b;
					}
				}
				&:first-child a
				{
					padding-left:	0;
				}
			}
		}
		div.Metrics
		{
			margin-top: -4px;
			float: right;
		}
	}
	article.Copyright
	{
		margin-bottom: 		40px;
		font-size:			10px;
		line-height: 		1.45;
		color: 				#b8babc;
		@extend 			%Content-Spacing;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////