
.nav_prototype
{
	border-top: 1px solid #E0DCDC;
	float: left;
	width: 100%;
}

.top_nav
{
	position: relative;
	@extend .nav_prototype;
}

.menu_top
{
	margin: 0;
	padding: 0px;
	float: left;

	li
	{
		float: left;
		&:first-child a
		{
			padding-left: 0;
		}
	}
	a
	{
		border-top: 1px solid #E0DCDC;
		display: block;

		margin-top: -1px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		font-weight: bold;
		color: black;
		@include Transitions(#{color .4s, border-color .4s});
		padding: 20px 10px;
		@include Adaptive($Viewport-MD)
		{
			padding: 20px;
		}
		@include Adaptive($Viewport-LR)
		{
			padding: 20px 30px;
		}
		&:hover
		{
			border-color: #c82222;
			color: #c82222;
		}
	}
}

//Настройка формы поиска

.top_nav > .search
{
	position: absolute;
	right: 0px;
}

.search > form
{
	display: block;
	padding-top: 10px;
}

#mod-search-searchword
{
	border-radius: 90px;
	padding: 3px;
}
