////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global Variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$Sidebar-Width:			235px;
$Content-Spacing:		125px;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$C-Main: #c82222;

$Nav-Background-Color: #4a4f5a;
$Nav-Background-Color-Hover: #2e313a;

// SCREEN SIZES
$Viewport-XXS:			1px;
$Viewport-XS:			768px;
$Viewport-SM:			1024px;
$Viewport-MD:			1260px;
$Viewport-LR:			1880px;
$Viewport-HG:			2540px;

// Sizes
$size-xxs: 2px;
$size-xs:  5px;
$size-s:   10px;
$size-n:   15px;
$size:     20px;
$size-l:   30px;
$size-xl:  50px;
$size-xxl: 75px;
$size-xxxl:100px;

$C-Grey-1: #212121;
$C-Grey-2: #3c3c3c;
$C-Grey-3: #555555;
$C-Grey-4: #b7b7b7;
$C-Grey-5: #e7e7e7;
$C-Grey-6: #f9f9f9;

$C-Red-1: #a02828;
$C-Red-2: #e43f3f;
$C-Red-3: #f46d6d;
$C-Red-4: #ffadad;
$C-Red-5: #ffdede;
$C-Red-6: #fff3f3;

$C-Orange-1: #b4771e;
$C-Orange-2: #e4a43f;
$C-Orange-3: #f4c06d;
$C-Orange-4: #ffe0ad;
$C-Orange-5: #fff1de;
$C-Orange-6: #fff9f1;

$C-Green-1: #54894e;
$C-Green-2: #6ea268;
$C-Green-3: #8ad390;
$C-Green-4: #d2ecd0;
$C-Green-5: #ebfaea;
$C-Green-6: #f1fff0;

$C-Cyan-1: #00a4c6;
$C-Cyan-2: #25c9eb;
$C-Cyan-3: #95edff;
$C-Cyan-4: #ccf0f8;
$C-Cyan-5: #e5fbff;
$C-Cyan-6: #f3fdff;

$C-Blue-1: #18637f;
$C-Blue-2: #2782a4;
$C-Blue-3: #8abfd3;
$C-Blue-4: #dceff2;
$C-Blue-5: #eaf8fa;
$C-Blue-6: #f4fdff;