/*Настройки переводчика гугл*/

.goog-te-gadget-simple
{
	background-color: transparent !important;
	border: none !important;
	font-size: 10px !important;
	display: inline-block !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	cursor: pointer !important;
	zoom: 1;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;

	img
	{
		background-image: none !important;
		position: absolute;
	}

	span
	{
		border-left-width: 0px !important;
	}
}

.goog-te-menu-value
{
	margin: 0px !important;
	margin-right: 10px;
	span
	{
		font-size: 12px;
		text-transform: uppercase;
		padding-right: 5px;
	}
}

.logo > .custom
{
	width: 400px;
	img
	{
		float: left;
	}

	span
	{
		font-size: 30px;
		margin-top: 30px;
		display: block;
		padding-top: 30px;
	}
}
.toolbar
{
	display: inline-block;
	float: right;
	width: auto;
	padding: 60px 0;
	@extend %BorderBox;
	@extend ._Clearfix;
}
.logo
{
	display: inline-block;
	width: auto;
	@extend %BorderBox;
	header
	{
		margin-top: 20px;
		position: relative;
		background: url(./lib/img/logo.png) left top no-repeat;
		min-height: 107px;
		h2
		{
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: 0;
			left: 70px;
			font-family: 'PT Serif Caption', serif;
			font-weight: 100;
			font-size: 28px;
			text-align: right;
			p
			{
				margin: 0;
				padding: 0;
				font-size: 31px;
			}
		}
		span
		{
			display: block;
		}

	}

}
.languages
{
	margin-top: 1px;
	float: left;
	@extend %BorderBox;
	.custom
	{
		padding: 10px;
	}
}
.authorization
{
	float: right;
	@extend %Unstyle;
	@extend %BorderBox;
	ul
	{
		@extend %Unstyle;
		li
		{
			@extend %Unstyle;
			a
			{
				display: inline-block;
				margin-right: 10px;
				padding: 10px 20px;
				text-transform: uppercase;
				text-decoration: none;
				color: black;
				font-size: 12px;
				font-weight: bold;
				&:hover
				{
					color: $C-Red-2;
				}
			}
			a.Button-Like
			{
				color: white;
				border-radius: 30px;
				box-shadow: 0 1px 2px rgba(0,0,0,.2);
				@include Gradient($C-Red-3,$C-Red-2, to bottom);
				&:hover
				{
					@include Gradient($C-Red-2,$C-Red-1, to bottom);
				}
			}
		}
	}
	.userdata
	{
		@extend %Content;
		display: none;
		.control-group + .control-group
		{
			margin-top: 10px;
		}
		.input-small
		{
			border: 1px solid #aaa;
			border-radius: 6px;
			padding: 5px;
			outline: none;
			&:focus
			{
				border-color: $C-Cyan-1;
			}
		}
		.add-on
		{
			display: inline-block;
			padding: 5px 0;
		}
	}
}