.Content-Wrapper
{
	margin-left:				235px;
	padding-left:				20px;
	padding-right:				20px;
	@include 					Adaptive($Viewport-SM)
	{
		padding-left:				40px;
		padding-right:				40px;
	}
	@include 					Adaptive($Viewport-MD)
	{
		padding-left:				75px;
		padding-right:				75px;
	}


	min-height: 				100%;
}

#Ahaha-Another-Wrapper-Lol
{
	margin: 0 auto;
	min-width: 					900px;
	max-width:					1200px;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// About
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.About
{
    display: none;
	@extend 					%Content-Block;
	@extend 					%Content-Block-Item;

	.About-Content
	{
		float: 					left;
		display: 				inline-block;
		width: 					50%;
		padding-right: 			30px;
		@include 				Adaptive($Viewport-MD)
		{
			width:				60%;
		}
		h1
		{
			@extend 			%Heading-Section;
			margin-bottom:		20px;
		}
		h4
		{
			margin-bottom:		20px;
			font-weight:		bold;
			font-size:			14px;
			line-height:		23px;
		}
		p
		{
			font-size:			14px;
			line-height:		23px;
		}
	}
	.About-More
	{
		margin-top:				20px;
		display: 				inline-block;
		font-size:				12px;
		color:					#707175;
		border-bottom:			1px solid;
	}
	.About-Image
	{
		width: 					50%;
		float:					right;
		display: 				inline-block;
		@include 				Adaptive($Viewport-MD)
		{
			width:				40%;
		}
		img
		{
			width: 				100%;
		}
	}
}
[data-alias=home] .About{
    display:block;
}

#yoo-zoo > .item
{
	@extend %Content-Block;
    margin-top:40px;
	.pos-content
	{
		@extend		%Content-Block-Textarea-Spacing;
	}
	h1.pos-title
	{
		font-size: 0;
		margin-bottom:			15px;
	}
	.floatbox
	{
		margin: 0;
	}
	.pos-subtitle
	{
		a
		{
			margin-top: 10px;
			color:	#000000;
		}
	}
	.pos-content .element-textarea p
	{
		font-size:			14px;
		line-height:		23px;
	}
	.pos-content .element-download
	{
		@extend %File-Download;
	}
	.pos-bottom
	{
	}
	.pos-bottom .element-itemhits
	{
		@extend %Content-Block-Footer;
		@extend %Content-Block-Views;
	}
	.pos-bottom .element-itemcreated
	{
		@extend %Content-Block-Footer;
		@extend %Content-Block-Date;
	}
}
#yoo-zoo
{
	.tag-title
	{
		@extend %Heading-Section-Spacing;
	}
}
#yoo-zoo.Item-Extended
{
	.item
	{
		border: 0;
		padding: 0;
		background-color: transparent;

		.pos-top
		{
			position: relative;
			@extend %Content-Block;
			@extend %Content-Block-Item;
			.element-itemname
			{
				display: inline-block;
				width: 60%;
				float: left;
				margin-bottom: 20px;
				@extend 		%Heading-Section;
				a
				{
					color:			#000;
				}
			}
			.element-textarea
			{
				display: inline-block;
				width: 60%;
				float: left;
				margin-bottom: 20px;
				padding-bottom: 30px;
			}
			.element-image
			{
				float: right;
				width: 40%;
			}
			.element-itemcreated
			{
				position: absolute;
				left: 40px;
				bottom: 25px;
				@extend %Content-Block-Footer;
				@extend %Content-Block-Date;
			}
			.element-itemhits
			{
				position: absolute;
				right: 40%;
				bottom: 25px;
				width: auto;
				text-align: right;
				padding-right: 20px;
				@extend %Content-Block-Footer;
				@extend %Content-Block-Views;
			}
		}

		.pos-bottom
		{
			.element.element-relateditems
			{
				h3
				{
					@extend %Heading-Section;
					@extend %Heading-Section-Spacing;
				}
				.pos-item
				{
					@extend %Content-Block;
					width: 33.33%;
					float: left;
					.pos-subtitle
					{
						font-weight: 100;
						font-size: 18px;
						line-height: 23px;
					}
				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Tags
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tags
{
	h3
	{
		@extend 				%Heading-Section;
		@extend 				%Heading-Section-Spacing;
	}
	ul.zoo-list
	{
		margin-top:				10px;
		li:nth-child(odd)
		{
			a
			{
				background-color: #ededee;
			}
		}
		li
		{
			margin: 			0;
			padding: 			0;
			a
			{
				padding:		5px 15px;
				font-size:		14px;
				color:			#4f555c;
				&:hover
				{
                    background-color: #4a4f5a;
                    color: white;
				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Плитки контента
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.yoo-zoo
{
	.details
	{
        .heading
        {
            position: relative;
        }

		.heading h1.title
		{
			@extend 		%Heading-Section;
			@extend 		%Heading-Section-Spacing;

		}

	}
	.items
	{
		.pos-item
		{
			@extend 		%Content-Block;
			@extend 		%Content-Block-Hover;
			.pos-title
			{
				position: relative;
				article.item
				{
					display: none;
				}
			}
			.pos-subtitle
			{
				line-height: 		23px;
				font-size:			18px;
				font-weight: 		100;
				a
				{
					color:				black;
				}
			}
			.floatbox
			{
				.pos-content
				{
					margin-top:		20px;
					.first
					{
						@extend %Content-Block-Footer;
						@extend %Content-Block-Date;
					}
					.last
					{
						@extend %Content-Block-Footer;
						@extend %Content-Block-Views;
					}
				}
			}
		}
	}
}

body[data-alias=home] .yoo-zoo .items .pos-item
{
    article:last-of-type
    {
        display: block !important;
        a
        {
            bottom: 25px;
            left: 10px;
            position: absolute;
            padding: 5px 7px!important;
            line-height: 13px;
            border-radius: 3px;
            font-size: 13px;
            color: white;
            letter-spacing: 0!important;
            background-color: red;
            font-weight: bold;

        }
    }
}

.Load-More{
    display: 				block;
    padding: 				8px 15px;
    border-radius: 			20px;
    border:					0;
    font-family: 			'PT Serif', serif;
    font-size:				12px;
    color:					white;
    @include 				Gradient(#85aa2f, #73932a, to bottom);
    @extend 				%Uppercase;
    @extend 				%Button-Shadow;


    text-align: center;
    width: 300px;
    font-weight: bold;
    margin: 40px auto;
    cursor: pointer;
    &:hover
    {
        background: 	#73932a;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Плитки контента
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Top-Five
{
	.Popular
	{
		border-left:						5px solid #d0ae1d;
		ul
		{
            display: none;
			li
			{
				.layout-default
				{
					&:hover
					{
						@extend 			%Content-Block-Hover;
					}
					.media
					{
						a
						{
							color: 			black;
							font-size: 		18px;
							line-height: 	23px;
							img
							{
								display: 	none;
							}
						}
					}
					p.title
					{
						a
						{
							line-height: 	23px;
							font-size: 		18px;
							color:			black;
						}
						a img
						{
							display: 		none;
						}
					}

				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Реклама
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Adv
{
	@extend 					%Content-Block;
    margin-top:                 60px;


    img{
        width: 100%;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Регистрация
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#system-message-container
{
	p
	{
		padding: 5px 10px;
		color: $C-Red-1;
		background-color: $C-Red-6;
		border-color: $C-Red-3;
		box-shadow: 0 0 1px $C-Red-4 inset;
		& + p
		{
			margin-top: 10px;
		}
	}
}
.k2ProfileHeading
{
	@extend %Heading-Section;
	@extend %Heading-Section-Spacing;
}
.k2AccountPageUpdate
{
	padding: 10px 0!important;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Projects
{
	clear: both;
	@extend %Fix;
	.Projects-Header
	{
		@extend %Heading-Section;
		@extend %Heading-Section-Spacing;
	}

	div:hover .prev,
	div:hover .next,
	.prev,
	.next
	{

		display: block!important;
		top: 30px!important;
		width: auto!important;
		margin-top: 0!important;
		background: none;
		@extend .fa, .fa-chevron-left;
		&:hover
		{
			color:		$C-Red-2;
		}
	}
	div:hover .prev,
	.prev
	{
		left: 20px!important;
	}
	div:hover .next,
	.next
	{
		@extend .fa, .fa-chevron-right;
		right: 20px!important;
	}
	.custom
	{
		@extend %Content-Block;
		margin-bottom: $size-l;
		.Slide-Item
		{
			float: left;
			width: 33.33%;
			img
			{
				display: block;
				width: 216px;
				margin: 0 auto;
			}
		}
	}
}
.pos-bottom
{
	.element.last
	{
		.custom
		{
			@extend %Content-Block;
		}
	}
}


.item-page
{
	@extend %Content-Block;
	@extend %Content-Block-Item;
}
#yoo-zoo .item p.pos-meta
{
	font-style: normal;
	margin-bottom: 0;
}
.heading
{
	border: 0!important;
}
h1.title
{
	@extend %Heading-Section;
}
.content
{
	width: 100%!important;
	@extend %Fix;
}
.content .search
{
	float: right;
	margin-left: 30px;
	@extend %Content-Block;
}
fieldset.phrases,
fieldset.only
{
	border: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	legend
	{
		padding: 10px 0;
		font-weight: bold;
	}
}

#search-searchword
{
	@extend %Control;
}

.element-textarea iframe{
    width: 100%;
    height: 380px;
}

[data-alias=video] .item .pos-title{
    display:none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Registration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#login-form
{
   @extend %Content-Block;
    position: absolute;
    z-index: 10;
    margin-top:10px;

    .unstyled li
    {

    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Top Five
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Dropdown-Content{
   @extend %Unstyle;
}
.Top-Five{
    margin-top: 40px;
}
.Top-Five-Header
{
	margin-bottom: 30px;
	@extend %Fix;
	h3
	{
		display: inline-block;
		width: auto;
		float: left;
		@extend %Heading-Section;
	}
	.Dropdown
	{
		float: right;
        top: 7px;
	}
}
.Popular
{

    img
    {
      width:100%;
      height: auto;
    }

    ul.zoo-itempro-default
    {
        @extend %Unstyle;

        .layout-default{
          	@extend 			%Content-Block;
			@extend 			%Content-Block-Hover;
        }

        .description
        {
            margin-top:		20px;
            .element
            {
              font-size:	12px;
              color:		#7c7e80;
              width: 		auto;
            }
            .first
            {
              float: 		left;
            }
            .last
            {
              float: 		right;
              padding-left: 25px;
              background: url(../../templates/journal/images/views.png) left center no-repeat;
            }
        }
    }
}

.Rss{
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 18px;
    cursor: pointer !important;
    z-index: 10;
    span{
        color:		#7c7e80 !important;
        cursor: pointer !important;
    }
}

.Search-Result{
    @extend %Content-Block;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#Footer-Pusher
{
	clear:			both;
	height: 		246px;
	border:			0;
	color:			transparent;
}
.search
{
	.page-title
	{
		@extend 	%Heading-Section;
		@extend 	%Heading-Section-Spacing;
	}
}
.Component .search form#searchForm
{
	@extend 		%Content-Block;
}

.item-page
{
	ul
	{
		@extend %Unstyle;
		li
		{
			& + li
			{
				margin-top: 15px;
			}
		}
	}
}
button[name='Search']
{
	position: relative;
	@extend .fa, .fa-search;
}
.login,
.remind,
.reset
{
	@extend %Content-Block;
}
.login fieldset.well
{
	border: 0;
	color: 0;
}

.nav.nav-stacked.nav-tabs
{
	margin-top: 10px;
	@extend 	%Unstyle;
	@extend 	%Content-Block;
	li
	{
		float: left;
		margin-right: 30px;
	}
}

.item .element.element-relateditems,.item .element.element-itemtag
{
	margin-top: 20px;
	height: auto!important;
    display: block;
    font-size: 14px;


	>h3, >a
	{
        padding-left: 3px;
        color: #4f555c;
		display: inline;
		line-height: 18px;
		font-size: 14px;
		font-weight: 100;
	}
	>h3
	{
		padding-right: 10px;
	}
}



// Only Selected Photos
.teaser-item .pos-meta{
    display: none;
}