.Content-Wrapper
{
	margin-left:				$Sidebar-Width;
	padding-left:				$Content-Spacing - 85px;
	padding-right:				$Content-Spacing - 85px;
	@include 					Adaptive($Viewport-SM)
	{
		padding-left:				$Content-Spacing - 75px;
		padding-right:				$Content-Spacing - 75px;
	}
	@include 					Adaptive($Viewport-MD)
	{
		padding-left:				$Content-Spacing - 50px;
		padding-right:				$Content-Spacing - 50px;
	}

	min-width: 					1000px;
	max-width:					1350px;
	min-height: 				100%;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// About
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.About
{
	@extend 					%Content-Block;
	.About-Content
	{
		float: 					left;
		display: 				inline-block;
		width: 					50%;
		padding-right: 			30px;
		@include 				Adaptive($Viewport-MD)
		{
			width:				60%;
		}
		h1
		{
			@extend 			%Heading-Section;
			margin-bottom:		20px;
		}
		h4
		{
			margin-bottom:		20px;
			font-weight:		bold;
			font-size:			14px;
			line-height:		23px;
		}
		p
		{
			font-size:			14px;
			line-height:		23px;
		}
	}
	.About-Image
	{
		width: 					50%;
		float:					right;
		display: 				inline-block;
		@include 				Adaptive($Viewport-MD)
		{
			width:				40%;
		}
		img
		{
			width: 				100%;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Tags
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Tags
{
	h3
	{
		@extend 				%Heading-Section;
		@extend 				%Heading-Section-Spacing;
	}
	ul.zoo-list
	{
		margin-top:				10px;
		li:nth-child(odd)
		{
			a
			{
				background-color: #ededee;
			}
		}
		li
		{
			margin: 			0;
			padding: 			0;
			a
			{
				padding:		5px 15px;
				font-size:		14px;
				color:			#4f555c;
				&:hover
				{
					background-color: #d4d4d5;
				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Плитки контента
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.yoo-zoo
{
	.details
	{
		.heading h1.title
		{
			@extend 		%Heading-Section;
			@extend 		%Heading-Section-Spacing;
		}
	}
	.items
	{
		.pos-item
		{
			@extend 	%Content-Block;
			&:hover
			{
				background: #fafafa;
			}
			.pos-title
			{
				position: relative;
				article.item
				{
					display: none;
				}
				article:last-of-type
				{
					display: block;
					a
					{
						bottom: 25px;
						left: 10px;
						position: absolute;
						padding: 5px 7px!important;
						line-height: 13px;
						border-radius: 3px;
						font-size: 13px;
						color: white;
						letter-spacing: 0!important;
						background-color: red;
						font-weight: bold;

					}
				}
			}
			.pos-subtitle
			{
				line-height: 		23px;
				font-size:			18px;
				font-weight: 		100;
				a
				{
					color:				black;
				}
			}
			.floatbox
			{
				.pos-content
				{
					margin-top:		20px;
					.element
					{
						font-size:	12px;
						color:		#7c7e80;
						width: 		auto;
					}
					.first
					{
						float: 		left;
					}
					.last
					{
						float: 		right;
						padding-left: 25px;
						background: url(../../templates/journal/images/views.png) left center no-repeat;
					}
				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Плитки контента
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Top-Five
{
	.Popular
	{
		border-left:						5px solid #d0ae1d;
		ul
		{
			li
			{
				.layout-default
				{
					.media
					{
						a
						{
							color: 			black;
							font-size: 		18px;
							line-height: 	23px;
							img
							{
								display: 	none;
							}
						}
					}
					p.title
					{
						a img
						{
							display: 		none;
						}
					}

				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Реклама
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Adv
{
	@extend 					%Content-Block;
    margin-top:                 80px;
    img{
        width: 100%;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Регистрация
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#system-message-container
{
	p
	{
		padding: 5px 10px;
		color: $C-Red-1;
		background-color: $C-Red-6;
		border-color: $C-Red-3;
		box-shadow: 0 0 1px $C-Red-4 inset;
		& + p
		{
			margin-top: 10px;
		}
	}
}
.k2ProfileHeading
{
	@extend %Heading-Section;
	@extend %Heading-Section-Spacing;
}
.k2AccountPageUpdate
{
	padding: 10px 0!important;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Projects
{
	clear: both;
	@extend %Fix;
	.Projects-Header
	{
		@extend %Heading-Section;
		@extend %Heading-Section-Spacing;
	}
	.custom
	{
		@extend %Content-Block;
		margin-bottom: $size-l;
		.Slide-Item
		{
			float: left;
			width: 33.33%;
			img
			{
				display: block;
				width: 216px;
				margin: 0 auto;
			}
		}
	}
}
.pos-bottom
{
	.element.last
	{
		.custom
		{
			@extend %Content-Block;
		}
	}
}
.item-page
{
	@extend %Content-Block;
}
#yoo-zoo .item p.pos-meta
{
	font-style: normal;
	margin-bottom: 0;
}
.heading
{
	border: 0!important;
}
h1.title
{
	@extend %Heading-Section;
}
.content
{
	width: 100%!important;
	@extend %Fix;
}
.content .search
{
	float: right;
	margin-left: 30px;
	@extend %Content-Block;
}
fieldset.phrases,
fieldset.only
{
	border: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	legend
	{
		padding: 10px 0;
		font-weight: bold;
	}
}

#search-searchword
{
	@extend %Control;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Registration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#login-form
{
   @extend %Content-Block;
    position: absolute;
    z-index: 10;
    margin-top:10px;

    .unstyled li
    {

    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Top Five
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Dropdown-Title
{
  @extend %Heading-Section;
}
.Dropdown-Content{
   @extend %Unstyle;
}
.Top-Five{
    margin-top: 40px;
}
.Popular
{

    img
    {
      width:100%;
      height: auto;
    }

    ul.zoo-itempro-default
    {
        @extend %Unstyle;

        .layout-default{
          @extend %Content-Block;
        }

        .description
        {
            margin-top:		20px;
            .element
            {
              font-size:	12px;
              color:		#7c7e80;
              width: 		auto;
            }
            .first
            {
              float: 		left;
            }
            .last
            {
              float: 		right;
              padding-left: 25px;
              background: url(../../templates/journal/images/views.png) left center no-repeat;
            }
        }
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#Footer-Pusher
{
	clear:			both;
	height: 		246px;
	border:			0;
	color:			transparent;
}