.footer{
  float:left;
}


.copyright {
  color: rgb(116, 116, 116);
  font-size: 11px;
  margin-bottom: 30px;
}
//Настройки нижнего меню
.bot_nav {
  @extend .nav_prototype;
  border-top: 3px solid #0FC53B;
  margin-bottom: 30px;
}

.menu_bot{
  @extend .menu_top;
}