 {
	"blog.article-2.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "28f0c0d8-e8d9-4fa4-a3d1-b8979ff4263d"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.author.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "29670d8f-668e-484c-877f-79279f31f4b4"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.article.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "bf587f28-0a72-4be7-88a1-91a14e77039e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"blog.item.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "042f3794-5c8a-483d-80a8-9efe2b9f81c9"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d %b %Y",
				"element": "_itemcreated"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	}
}