@import 'page/page';


*
{
	margin: 			0;
	padding: 			0;
	box-sizing: 		border-box;
	-moz-box-sizing: 	border-box;
	cursor: 			default;
}
html,
body
{
	height: 			100%!important;
}
body
{
	min-width: 			1000px;
	border-top: 		5px solid #1a90ff;
	background: 		#F5F5F5;
	font-family: 		'PT Serif', serif;
}

a:link,
a:visited
{
	text-decoration: 	none;
	color:				#1a90ff;
	@extend 			%Clickable;
	&:hover
	{
		color: 			#4bb1ff;
	}

}
p + p
{
	margin-top:			10px;
}
input,
select, 
textarea,
button
{
	@extend 			%Control;
	@extend 			%Clickable;
}
input[type='submit'],
input[type='button'],
button
{
	@extend 			%Control-Button;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Sidebar
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Page-Sidebar
{
	position: 					fixed;
	background-color: 			#4a4f5a;
	width:						$Sidebar-Width;
	left: 						0;
	top:						0;
	bottom: 					0;

	nav.Site-Navigation
	{
		.nav.menu_left
		{
			margin-top:			50px;
			@extend 			%Unstyle;
			li
			{
				a
				{
					display: 	block;
					padding: 	8px 50px;
					color:		#dce0e5;
					font-size:	14px;
					@extend 	%Fluid;
					@extend 	%Uppercase;
					@extend 	%Animated;
					&:hover
					{
						background-color: 		darken(#4a4f5a, 10%);
						color: 					white;
					}
				}
			}
		}
	}

	.Feed-Subscription
	{
		display: 				block;
		margin-top:				10px;
		margin-left: 			35px;
		padding: 				8px 15px;
		border-radius: 			20px;
		border:					0;
		font-family: 			'PT Serif', serif;
		font-size:				10px;
		color:					white;
		@include 				Gradient(#85aa2f, #73932a, to bottom);
		@extend 				%Uppercase;
		@extend 				%Button-Shadow;
		&:hover
		{
			background: 	#73932a;
		}
	}
}
.Sidebar-Toggle
{
	position: 				fixed;
	top: 					5px;
	z-index:                10;
	margin-left: 			$Sidebar-Width;
	width: 					40px;
	height: 				40px;
	background: 			#77797c url(../../templates/journal/images/close.png) center center no-repeat;
	@extend 				%Animated;
	@extend 				%Clickable;
	&:hover
	{
		background-color: 	#1a90ff;
	}
	&.Expanded
	{
		background: 			#77797c url(../../templates/journal/images/toggle.png) center center no-repeat;
		&:hover
		{
			background-color: 	#1a90ff;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
header.Site-Header
{
	position: 					relative;
	@extend 					%Fix;
	.Site-Logo
	{
		margin-top:				10px;
		float: 					left;
		height: 				107px;
		background: 			url(../../templates/journal/images/logo.png) left top no-repeat;
		h2
		{
			padding-top:		40px;
			padding-left: 		60px;
			font-family: 		'PT Serif Caption', 'PT Serif', serif;
			font-weight: 		100;
			font-size:			28px;
			text-align: 		right;
			span
			{
				display: 		block;
				margin-top:		-7px;
				font-size:		31px;
			}
		}
	}
	.Toolbar
	{
		margin-top:				60px;
		float:					right;
		@extend 				%Fix;
		.Languages
		{
			margin-right: 		20px;
			float: 				left;
			.goog-te-menu-value
			{
				margin:			0!important;
				color: 			black;
				font-family: 	'PT Serif', serif;
				font-size:		12px!important;
				font-weight: 	bold;
				letter-spacing: 0!important;
				@extend 		%Uppercase;
				&:hover
				{
					color:		#c82222;
				}
				span
				{
					@extend 	%Clickable;
				}
				[style*='border-left']
				{
					display: 	none!important;
				}
			}
			.goog-te-gadget-icon
			{
				display: 		none!important;
			}
			.goog-te-gadget-simple
			{
				padding: 		10px!important;
				border:			0!important;
				background: 	none!important;
			}
		}
		.Authorization
		{
			float: 				right;
			#login-form
			{
				display: 		none;
			}
			ul
			{
				@extend 		%Inline;
				@extend 		%Unstyle;
				li
				{
					a
					{
						display: 	block;
						padding: 	10px 5px;
						font-size:	12px;
						font-weight: bold;
						color:		black;
						@extend 	%Uppercase;
						&:hover
						{
							color:  #c82222;
						}
						&.Button-Like
						{
							display: 				block;
							margin-top:				1px;
							margin-left: 			20px;
							padding: 				8px 15px;
							border-radius: 			20px;
							border:					0;
							font-family: 			'PT Serif', serif;
							color:					white;
							@include 				Gradient(#f53636, #d83333, to bottom);
							@extend 				%Uppercase;
							@extend 				%Button-Shadow;
							&:hover
							{
								background: 	#c82222;
							}
						}
					}
				}
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site Navigation: Primary
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Site-Navigation.Primary
{
	margin-top:					20px;
	padding-top: 				20px;
	padding-bottom:				20px;
	border-top:					1px solid #e9ebec;
	border-bottom:				1px solid #e9ebec;
	margin-bottom:				20px;
	nav
	{
		@extend 				%Fix;
		ul
		{
			@extend 			%Navigation-Inline;
			li
			{
				a
				{
					font-weight: bold;
					&:hover
					{
						color:	#c82222;
					}
				}
			}
			li:first-child a
			{
				padding-left: 0;
			}
			li:last-child a
			{
				padding-right: 0;
			}
		}
	}
	.Search-Form
	{
		width: 					auto;
		float: 					right;
		form
		{
			margin-top: 	-3px;

			#mod-search-searchword
			{
				width: 150px;
				float: left;
				@include 			Opacity(0);
				&:focus
				{
					@include 		Opacity(1);
				}
			}
			input[type='image']
			{
				border: 0;
				background-color: transparent;
			}
		}
		&:hover
		{

			#mod-search-searchword
			{
				@include 		Transition(opacity, .5s);
				@include 		Opacity(1);
			}
		}

	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PAGINATION
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ul.Pagination
{
	@extend %Unstyle;
	@extend %Inline;
	li
	{
		& + li
		{
			margin-left: 5px;
		}

		span,
		a
		{
			display: block;
			padding: 3px 8px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		a
		{
			border-color: #efeff3;
			background-color: white;
			@extend %Animated;
			&:hover
			{
				background-color: $C-Red-2;
				border-color: $C-Red-1;
				color: white;
			}
		}
		span
		{
			background-color: black;
			color: white;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Page Footer
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
footer[role='contentinfo']
{
	border-top:			5px solid #77972b;
	margin-top:				-246px;
	nav.Site-Navigation.Secondary
	{
		margin-bottom:		40px;
		padding-top: 		40px;
		padding-bottom:		40px;
		border-bottom:		1px solid #e9ebec;
		@extend 			%Fix;
		ul
		{
			width: 			auto;
			float: 			left;
			@extend 		%Navigation-Inline;
			li
			{
				a
				{
					&:hover
					{
						color: 		#77972b;
					}
				}
			}
		}
		div.Metrics
		{
			margin-top: -4px;
			float: right;
		}
	}
	article.Copyright
	{
		margin-bottom: 		40px;
		font-size:			10px;
		line-height: 		1.45;
		color: 				#b8babc;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Page Vertical Grid Items
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.pos-content .pos-title{
	min-height: 0px !important;
}


body[data-page=home] .teaser-item
{
	@extend .Node-XS-6;
	@extend .Node-MD-4;
}

body[data-page=list] .teaser-item
{
  @extend .Node-XS-12;
}



.pos-title
{
    &.Block-No-Image article.Item-Category a
    {
        position: relative !important;
        left: 0px !important;
        top: -15px;
    }
}

.zoo-itempro-default .media
{
    position: relative;
    article.item
    {
        display: none;
    }
    article:last-of-type, .Item-Category
    {
        display: block;

        a
        {
            bottom: 25px;
            left: 10px;
            position: absolute;
            padding: 0px 7px!important;
            line-height: 13px;
            border-radius: 3px;
            font-size: 13px !important;
            color: white!important;
            letter-spacing: 0!important;
            background-color: red;
            font-weight: bold ;
        }
    }
}

.zoo-itempro-default .media.Block-No-Image .Item-Category
{
    display: block;
    margin-bottom: 10px;
    a
    {
        left: 10px;
        position: static;
        padding: 5px 7px!important;
        line-height: 13px;
        border-radius: 3px;
        font-size: 13px !important;
        color: white!important;
        letter-spacing: 0!important;
        background-color: red;
        font-weight: bold ;
    }
}

.zoo-itempro-default .media img{
    display: none;
}

.floatbox, .pos-content{
    margin-top: 20px;
    display: block;
    float: left;
    width: 100%;
}

.pos-title {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Label Categories Colors
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

a{
    &.Color-Purple
    {
        background: #812b97 !important;
    }

    &.Color-Green
    {
        background: #77972b !important;
    }

    &.Color-Rad
    {
        background: #c82222 !important;
    }

    &.Color-Yellow
    {
        background:#d0ae1d !important;
    }

    &.Color-Blue
    {
        background:#2b4c97 !important;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Scroll-Top
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#Scroll-Top
{
	display:		none;
	position: 		fixed;
	top: 			25px;
	right: 			25px;
	width: 			35px;
	height: 		35px;
	border-radius:	4px;
	border:			1px solid #efeff3;
	background: 	white url(../../templates/journal/images/scroll-top.png) center center no-repeat;
	&:hover
	{
		border-color: #23262f;
		background: #4a4f5a url(../../templates/journal/images/scroll-top-hover.png) center center no-repeat;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






.item-page{
    h2{
        @extend %Heading-Section;
        margin-bottom: 20px;
    }
}


  /*** OlegBlud Styles***/

  .Subscription
  {
    display:none;
  }


  .Content-Wrapper
  {
    position: relative;
  }

.tag-title{
    @extend %Heading-Section;
}


.Site-Logo{
    cursor: pointer;
    img
    {
        width:100%;
        height: auto;
    }
    h2{
        cursor: pointer;
        color: black;
    }
    h2 span{
        cursor: pointer;
    }
}

img{
    width: 100%;
    height: auto;
}


